*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box
{
    width: 80%;
    min-height: 500px;
    background-image: linear-gradient(to right,#7F7FD5,#86A8E7,#91EAE4);
    margin: auto;
    position: relative;
}
.header
{
    width: 100%;
    height: 100px;
    /* border: 1px solid #000; */
}
.header .logo
{
    width: 30%;
    height: 100px;
    /* border: 1px solid #000; */
    float: left;
    /* margin-top: 10px; */
    margin-left: 30px;
}
.logo h1
{
    color: #FFF;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0vw;
    /* float: right; */
    /* margin-right: 130px; */
}
.header .menu
{
    width: 60%;
    height: 100px;
    /* border: 1px solid #000; */
    float: right;
    /* margin-top: 25px; */
    /* margin-right: 10px; */
    margin-left: 50px;
    padding: 15px;
}
.menu a
{
    color: rgb(251, 245, 245);
    padding: 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    margin-top: 10px;
    margin-left: 20px;
}
.menu a:hover{
    background-color: lavender;
    color: black;
    transition: 1s;
}
.login-box
{
    width: 30%;
    min-height: 300px;
    border: 2px solid white;
    position: absolute;
    top: 100px;
    right: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-color: white;
    border-bottom-color: white;
    
}
.header1
{
    color: white;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8vw;
    text-align: center;
}
.form-div
{
    width: 100%;
}
.form-div label
{
    width: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10x;
    text-align: center;
    margin: 10px;
}
input[type=text]
        {
            width: 90%;
            /* margin: 10px 10px;
            padding: 10px 10px; */
            margin: 10px 5px;
            padding: 10px 10px;
            outline: none;
            border: none;
            background:none;
            background-image: url(./images/user.png);
            background-repeat: no-repeat;
            /* color: white; */
            color: white;
            /* border-bottom: 2px solid rgb(252, 252, 252); */
            text-align: center;
            /* border-radius: 10px; */
            margin-left: 10px;
            /* border-radius: 10px; */
            /* border: 3px solid black; */
        }
        input[type=text]::placeholder
        {
            text-align: center;
            color: white;
        }
        input[type=text]:focus
        {
            background-color: crimson;
        }
        input[type=password]
        {
            width: 90%;
            margin: 10px 10px;
            padding: 10px 10px;
            outline: none;
            border: none;
            text-align: center;
            /* border-radius: 10px; */
            background:none;
            color: white;
            border-bottom: 2px solid white;
            background-image: url(./images/pass1.png);
            background-repeat: no-repeat;
        }
        input[type=password]::placeholder
        {
            text-align: center;
            color: white;
        }
        input[type=password]:focus 
        {
            background-color: crimson;
        }
        input[type=submit]
        {
            width: 90%;
            height: 50px;
            padding: 5px 10px;
            margin: 10px 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            font-size: 20px;
            border: none;
            background-color: #4186a3;
            color: white;
            background-image: url(./images/login32.png);
            background-repeat: no-repeat;
            border-radius: 10px;
        }
        input[type=submit]:hover{

            background-color: #81cdee;
            color: white;
        }